@charset "UTF-8";

body{
    background-color: rgb(55, 55, 55);
    font-size: 20px;
    
}

h1{
    color: rgb(255, 255, 255);background-color: rgb(255, 183, 0);
    font-family: Times New Roman;      
}

p{
    color: aliceblue;
}

a{
    color: aliceblue;
}

h2{
    color: goldenrod;   
}