@charset "UTF-8";

/* Todas as demais Medias*/

/* Typical Device BreakPoints 
Pequenas Telas: Até 600px
Celular: de 600px Até 768px
Tablet: 768px Até 992px
Descktop: 992 Até 1200px
TV: Acima de 1200px
*/

@media print { /*Impressão*/
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    main{
        border: 2px solid black;
    }
    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: block;}
    img#pc { display: none;}
    img#tv { display: none;}

    main h1{
        text-shadow: none;
    } 
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablet */
    body{
        background-image: url( ../imagens/back-tablet.jpg);
    }
    img#phone { display: none;}
    img#tablet { display: block;}
    img#print { display: none;}
    img#pc { display: none;}
    img#tv { display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* Descktop */
    body{
        background-image: url(../imagens/back-pc.jpg);
        background-position: center center;
        background-size: cover;
    }

    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: block;}
    img#tv { display: none;}
}

@media screen and (min-width: 1200px) { /* Telas Grandes  */
        body{
            background-image: url(../imagens/back-tv.jpg);
            background-position: center center;
            background-size: cover;
        }

        img#phone { display: none;}
        img#tablet { display: none;}
        img#print { display: none;}
        img#pc { display: none;}
        img#tv { display: block;}
}

    
